@use "../../styles/variables" as v;

.admin {
  padding-top: 50px;

  .container {
    .admin-main {
      display: flex;
      justify-content: space-between;
      gap: 0 70px;

      .admin-content {
        flex: 1;

        .title {
          font-weight: 400;
          font-size: 1.8rem;
          line-height: 126%;
          letter-spacing: -0.0068em;
          color: v.$black-text-color;
          margin-bottom: 20px;
        }
      }
    }
  }
}
