.container {
  width: 1024;
  left: 0px;
  top: 980px;
  margin-left: 50px;
  position: relative;

  .solutions {
    height: 150px;
    width: 1024;

    .solution {
      display: inline-block;
      width: 256px;
      vertical-align: top;
      text-align: left;
      ul {
        list-style-type: none;
      }
      a {
        font-size: 10px;
      }
    }
  }

  .copyright-and-social-media {
    height: 50px;
    left: 0px;
    top: 275px;
    border-radius: 0px;
    display: flex;
    justify-content: space-between;
  }
  .copyright {
    color: gray;
    font-size: 10px;
  }
  .social-media-icon {
    width: 120px;
    height: 20px;
    display: flex;
    justify-content: space-between;
  }
}
