@use "../../../styles/variables" as v;

.statistics {
  .calendar-box {
    display: flex;
    gap: 0 10px;
  }

  table {
    width: 400px;

    tbody {
      tr {
        .header {
          border-right: 1px solid v.$grey-text-color3;
          background-color: v.$primary-color1;
        }
      }
    }
  }
}
