@use "../../../styles/variables" as v;

.category {
  .category-modal {
    .modal-box {
      width: 374px;

      .modal-body {
        label {
          color: v.$black-text-color;
        }

        .input {
          margin-top: 10px;
        }
      }
    }
  }

  table {
    width: 300px;

    td {
      width: 100%;
    }

    tr {
      .table-func {
        svg {
          padding: 0 5px;
        }
      }
    }

    tbody {
      display: block;
      max-height: 372px;
      overflow: auto;
    }
  }
}
